In [1]:
#vaccinations by date for countries
import pandas as pd
import json
import requests

In [22]:
#reads the api for confirmed
cases="https://covid-api.mmediagroup.fr/v1/history?country=all&status=confirmed"
response=requests.get(cases)
temp=response.json()

#reads the api for deaths
deaths="https://covid-api.mmediagroup.fr/v1/history?country=all&status=deaths"
response2=requests.get(deaths)
temp2=response2.json()

In [23]:
the_confirmed_dates=[]
the_confirmed=[]
the_country=[]

#finds the dates and confirmed cases for all the countries
for i in temp:
    the_confirmed_temp=temp[i]['All']['dates']
    for d in the_confirmed_temp:
        the_country.append(i)
        the_confirmed_dates.append(d)
        the_confirmed.append(the_confirmed_temp[d])

In [24]:
the_death_dates=[]
the_death=[]
the_country=[]

for i in temp2:
    the_death_temp=temp2[i]['All']['dates']
    for d in the_death_temp:
        the_country.append(i)
        the_death_dates.append(d)
        the_death.append(the_death_temp[d])

#the total deaths and total confirmed are updated daily but at slightly different times
#if one of the print out below has less rows, that is because it hasn't been updated yet that day
#which will give an error. It should update soon though
print (len(the_country))
print (len(the_confirmed_dates))
print (len(the_confirmed))
print (len(the_death))

89552
89552
89552
89552

In [137]:
confirmed_dict={'Location': the_country,'Date':the_confirmed_dates,"Total_Confirmed":the_confirmed,"Total_Deaths":the_death}   
confirmed_df=pd.DataFrame(confirmed_dict)

the_list=[confirmed_df['Location'],confirmed_df['Date'],confirmed_df['Total_Confirmed'],confirmed_df['Total_Deaths']]

daily_confirmed=[]
daily_deaths=[]

for row in range(0,len(the_list[0]),1):
    if row != len(the_list[0])-1:
        if the_list[0][row]==the_list[0][row+1]: #same country
            daily_confirmed.append(the_list[2][row] - the_list[2][row+1])
            daily_deaths.append(the_list[3][row] - the_list[3][row+1])
        else: #at a new country
            daily_confirmed.append(the_list[2][row])
            daily_deaths.append(the_list[3][row] - the_list[3][row+1])
    else:
        daily_confirmed.append(the_list[2][row])
        daily_deaths.append(the_list[3][row])

In [147]:
#outputs all the dates for all the countries
print()
print()
print("         Covid Cases All Countries: 01/22/2020 to 04/30/2021")
print("---------------------------------------------------------------------")
confirmed_df["Daily_Confirmed"]=daily_confirmed
confirmed_df["Daily_Deaths"]=daily_deaths
confirmed_df

         Covid Cases All Countries: 01/22/2020 to 04/30/2021
---------------------------------------------------------------------

,Location,Date,Total_Confirmed,Total_Deaths,Daily_Confirmed,Daily_Deaths
0,Afghanistan,2021-04-29,59576,2618,206,7
1,Afghanistan,2021-04-28,59370,2611,145,13
2,Afghanistan,2021-04-27,59225,2598,210,6
3,Afghanistan,2021-04-26,59015,2592,172,10
4,Afghanistan,2021-04-25,58843,2582,113,10
...,...,...,...,...,...,...
89547,Global,2020-01-26,2118,56,685,14
89548,Global,2020-01-25,1433,42,492,16
89549,Global,2020-01-24,941,26,286,8
89550,Global,2020-01-23,655,18,98,1
89551,Global,2020-01-22,557,17,557,17

In [152]:
#outputs just april of 2021
print()
print()
print("         Covid Cases All Countries: April 2021)")
print("---------------------------------------------------------------------")
      
confirmed_df.loc[confirmed_df['Date'].str.contains("2021-04")]

         Covid Cases All Countries: April 2021)
---------------------------------------------------------------------

,Location,Date,Total_Confirmed,Total_Deaths,Daily_Confirmed,Daily_Deaths
0,Afghanistan,2021-04-29,59576,2618,206,7
1,Afghanistan,2021-04-28,59370,2611,145,13
2,Afghanistan,2021-04-27,59225,2598,210,6
3,Afghanistan,2021-04-26,59015,2592,172,10
4,Afghanistan,2021-04-25,58843,2582,113,10
...,...,...,...,...,...,...
89112,Global,2021-04-05,131682894,2859818,489460,7462
89113,Global,2021-04-04,131193434,2852356,552409,6917
89114,Global,2021-04-03,130641025,2845439,527683,8385
89115,Global,2021-04-02,130113342,2837054,633454,10247
89116,Global,2021-04-01,129479888,2826807,710944,11865