In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from scipy.stats import linregress

merged_df = pd.read_csv("output_csv/covid_vaccine_gdp_merged.csv")
merged_df.head()

,Unnamed: 0,Location,Date,Total_Confirmed,Total_Deaths,Daily_Confirmed,Daily_Deaths,daily_vaccinations,daily_vaccinations_per_million,gdppc
0,0,Afghanistan,2021-04-22,58312,2561,98,4,8000,206,507.1
1,1,Afghanistan,2021-04-21,58214,2557,177,8,8000,206,507.1
2,2,Afghanistan,2021-04-20,58037,2549,139,3,8000,206,507.1
3,3,Afghanistan,2021-04-19,57898,2546,105,7,8000,206,507.1
4,4,Afghanistan,2021-04-18,57793,2539,72,0,8000,206,507.1