In [1]:
import pandas as pd
import numpy as np
import requests
import json

filepath = "output_csv_files/vaccines_bydate.csv"
raw_data_df = pd.read_csv(filepath)
raw_data_df

,Unnamed: 0,country,iso_code,date,daily_vaccinations,daily_vaccinations_per_million
0,0,Afghanistan,AFG,2021-02-22,No Data,No Data
1,1,Afghanistan,AFG,2021-02-23,1367,35
2,2,Afghanistan,AFG,2021-02-24,1367,35
3,3,Afghanistan,AFG,2021-02-25,1367,35
4,4,Afghanistan,AFG,2021-02-26,1367,35
...,...,...,...,...,...,...
15757,15757,Zimbabwe,ZWE,2021-04-26,13517,909
15758,15758,Zimbabwe,ZWE,2021-04-27,15562,1047
15759,15759,Zimbabwe,ZWE,2021-04-28,17860,1202
15760,15760,Zimbabwe,ZWE,2021-04-29,17971,1209
15761,15761,Zimbabwe,ZWE,2021-04-30,19194,1291

In [2]:
date_april_df = raw_data_df.loc[raw_data_df["date"].str.contains("2021-04"), :]
date_april_df

,Unnamed: 0,country,iso_code,date,daily_vaccinations,daily_vaccinations_per_million
38,38,Afghanistan,AFG,2021-04-01,3000,77
39,39,Afghanistan,AFG,2021-04-02,3000,77
40,40,Afghanistan,AFG,2021-04-03,3000,77
41,41,Afghanistan,AFG,2021-04-04,3000,77
42,42,Afghanistan,AFG,2021-04-05,3000,77
...,...,...,...,...,...,...
15757,15757,Zimbabwe,ZWE,2021-04-26,13517,909
15758,15758,Zimbabwe,ZWE,2021-04-27,15562,1047
15759,15759,Zimbabwe,ZWE,2021-04-28,17860,1202
15760,15760,Zimbabwe,ZWE,2021-04-29,17971,1209
15761,15761,Zimbabwe,ZWE,2021-04-30,19194,1291

In [3]:
raw_data_df.to_csv("output_csv_files/vaccines_april.csv")

In [4]:
country_list = date_april_df["country"].unique()
print(country_list)

['Afghanistan' 'Africa' 'Albania' 'Andorra' 'Angola' 'Anguilla'
 'Antigua and Barbuda' 'Argentina' 'Aruba' 'Asia' 'Australia' 'Austria'
 'Azerbaijan' 'Bahamas' 'Bahrain' 'Bangladesh' 'Barbados' 'Belarus'
 'Belgium' 'Belize' 'Bermuda' 'Bhutan' 'Bolivia' 'Bosnia and Herzegovina'
 'Botswana' 'Brazil' 'Brunei' 'Bulgaria' 'Cambodia' 'Cameroon' 'Canada'
 'Cayman Islands' 'Chile' 'China' 'Colombia' 'Congo' 'Costa Rica'
 "Cote d'Ivoire" 'Croatia' 'Curacao' 'Cyprus' 'Czechia'
 'Democratic Republic of Congo' 'Denmark' 'Djibouti' 'Dominica'
 'Dominican Republic' 'Ecuador' 'Egypt' 'El Salvador' 'England'
 'Equatorial Guinea' 'Estonia' 'Eswatini' 'Ethiopia' 'Europe'
 'European Union' 'Faeroe Islands' 'Falkland Islands' 'Fiji' 'Finland'
 'France' 'Gabon' 'Gambia' 'Georgia' 'Germany' 'Ghana' 'Gibraltar'
 'Greece' 'Greenland' 'Grenada' 'Guatemala' 'Guernsey' 'Guinea' 'Guyana'
 'Honduras' 'Hong Kong' 'Hungary' 'Iceland' 'India' 'Indonesia' 'Iran'
 'Iraq' 'Ireland' 'Isle of Man' 'Israel' 'Italy' 'Jamaica' 'Japan'
 'Jersey' 'Jordan' 'Kazakhstan' 'Kenya' 'Kosovo' 'Kuwait' 'Kyrgyzstan'
 'Laos' 'Latvia' 'Lebanon' 'Lesotho' 'Libya' 'Liechtenstein' 'Lithuania'
 'Luxembourg' 'Macao' 'Malawi' 'Malaysia' 'Maldives' 'Mali' 'Malta'
 'Mauritania' 'Mexico' 'Moldova' 'Monaco' 'Mongolia' 'Montenegro'
 'Montserrat' 'Morocco' 'Namibia' 'Nauru' 'Nepal' 'Netherlands'
 'New Zealand' 'Nicaragua' 'Niger' 'Nigeria' 'North America'
 'North Macedonia' 'Northern Cyprus' 'Northern Ireland' 'Norway' 'Oceania'
 'Oman' 'Pakistan' 'Palestine' 'Panama' 'Papua New Guinea' 'Paraguay'
 'Peru' 'Philippines' 'Poland' 'Portugal' 'Qatar' 'Romania' 'Russia'
 'Rwanda' 'Saint Helena' 'Saint Kitts and Nevis' 'Saint Lucia'
 'Saint Vincent and the Grenadines' 'Samoa' 'San Marino' 'Saudi Arabia'
 'Scotland' 'Senegal' 'Serbia' 'Seychelles' 'Sierra Leone' 'Singapore'
 'Slovakia' 'Slovenia' 'Solomon Islands' 'Somalia' 'South Africa'
 'South America' 'South Korea' 'South Sudan' 'Spain' 'Sri Lanka' 'Sudan'
 'Suriname' 'Sweden' 'Switzerland' 'Syria' 'Taiwan' 'Thailand' 'Timor'
 'Togo' 'Tonga' 'Trinidad and Tobago' 'Tunisia' 'Turkey'
 'Turks and Caicos Islands' 'Uganda' 'Ukraine' 'United Arab Emirates'
 'United Kingdom' 'United States' 'Uruguay' 'Uzbekistan' 'Venezuela'
 'Vietnam' 'Wales' 'World' 'Zambia' 'Zimbabwe']